@import url("./styles/ReviewAssistant.css");
@import url("./styles/Payroll.css");
@import url("./styles/Attendance.css");

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Resetting default body and HTML margins to ensure full viewport coverage */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f5f9;
}